.landingpage1 {
    display: flex;
    width: 100%;
    height: 172vh;
    background:  url('../../assets/pictures/slideshow/heron.jpg')  no-repeat center top/cover;
    animation: slideshow 100s infinite 0s;
    animation-timing-function: step-start;

}

@keyframes slideshow {
    0%{
      background-image: url('../../assets/pictures/slideshow/heron.jpg') ;
    }
    6%{
       background-image: url('../../assets/pictures/slideshow/cliff.jpg')  ;
    } 
    12%{
        background-image: url('../../assets/pictures/slideshow/eagle.jpg')  ;
    }
    18%{
       background-image: url('../../assets/pictures/slideshow/island.jpg') ;
    }
    24%{
       background-image: url('../../assets/pictures/slideshow/mountains.jpg') ;
    }
    30%{
        background-image: url('../../assets/pictures/slideshow/mushroom.jpg') ;
     }
    36%{
        background-image: url('../../assets/pictures/slideshow/path.jpg') ;
     }
    42%{
        background-image: url('../../assets/pictures/slideshow/people.JPG') ;
     }
     48%{
        background-image: url('../../assets/pictures/slideshow/posts.JPG') ;
     }
     54%{
        background-image: url('../../assets/pictures/slideshow/red.jpg') ;
     }
     60%{
        background-image: url('../../assets/pictures/slideshow/rocky.JPG') ;
     }
     66%{
        background-image: url('../../assets/pictures/slideshow/sand.JPG') ;
     }
     /* 72%{
        background-image: url('../../assets/pictures/slideshow/seaweed.JPG') ;
     } */
    78%{
        background-image: url('../../assets/pictures/slideshow/shore.JPG') ;
     }
     84%{
        background-image: url('../../assets/pictures/slideshow/snail.JPG') ;
     }
     /* 90%{
        background-image: url('../../assets/pictures/slideshow/sunset.JPG') ;
     } */
     95%{
        background-image: url('../../assets/pictures/slideshow/heron.jpg') ;
     }
     100%{
        background-image: url('../../assets/pictures/slideshow/tidepools.JPG') ;
     }
  } 


.landingpage1 .container1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: rgba(4, 4, 4, 0.349);
    z-index: 3;
   
}




.landingpage1 .container2 {
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 1%;
    width: 80%;
    height: fit-content;
    max-height: fit-content;
    text-align: center;
    color: #ffffff;
    margin-bottom: 4%;
    flex-direction: column;
    align-items: center;
    /* background-color: rgb(101,157,189,0.8); */
    border-radius: 10px;

}

.landingpage1 .container3 {
  display: flex;
  -ms-flex-align: center;
  max-width: fit-content;
  justify-items: center !important;
  align-items: center !important;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}



.landingpage1 .top {
    margin: auto;
    padding-top: 1%;
    width: 20%;
    justify-content: center;
    text-align: center;
    align-self: center;
    margin-top: 15%;
    color: #ffffff;    
}


.landingpage1 .bottom {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 10% !important;
}

@media screen and (max-width:540px) {
    .landingpage1 .container .bottom {
        flex-direction: column;
        align-items: center;
    }
}

.custom{
    width:140px ;
    height:50px ;
    margin-left: 20px ;
    margin-right: 20px ;
    border-radius: 51px;
    font-size: 300;
    border: none;
    background-color: #8d8741 !important;
}

