
.dashpageTitle{
    margin:auto;

    /* margin-top: 12%;  */
    padding-top: 5%;   
    text-align: center;
    background-color: #86b3d153;
}
.dashpage{
    background-color: #86b3d153;
    padding-bottom: 5%;

}

.dashpageTitle .text{
    margin-top: 1%;
    text-align: center;
}


.mapSection{
    height: fit-content;
    background-color: whitesmoke;
    align-self: center;
    padding: 30px;
    margin-left: 2%;
    margin-right: 2%;

   
}

.mapbreaker{
    height: 80px;
    /* width: 100%; */
}



.mapSection .word {
    margin: auto;
    text-align: center;
    margin-bottom: 1%;
}

.mapSection  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:15px;
    text-align: center;
}


