
.eventpageTitle{
    margin: auto;
    margin-left: 2.5%;
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: left;
}

.eventSection{
    height: fit-content;
    background-color: whitesmoke;
    align-self: center;
    padding: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
   
}
.eventpageTitle .text{
    margin-top: 1%;
    text-align: center;
    }
.eventpage {
    width: 100%;
}

