
.eventpageTitle{
    margin: auto;

    padding-top:5%;

    margin-bottom: 5%;
    text-align: center;
}

.eventSection{
    height: fit-content;
    background-color: whitesmoke;
    align-self: center;
    padding: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;
   
    /* border-radius: 10px; */
}
.eventpageTitle .text{
    margin-top: 1%;
    text-align: center;
    }
.eventpage {
    width: 100%;
    background-color: #cb61153b;
    padding-bottom: 5%;



}

