.territoryTitle{
    margin: auto;
    margin-left: 2%;
    /* margin-top: 2%; */
    /* margin-bottom: 2%; */
    text-align: center;
}
.territoryTitle .text {
    margin-top: 1%;
    text-align: center;
       
}

.territorySection{
    height: fit-content;
    background-color: rgba(245, 245, 245, 0.772);
    align-self: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top:5px;
    padding-bottom: 5px;
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(69, 69, 69)
}

.territoryPage {
    width: 100%;
    padding-top:10px;

}


@media screen and (max-width:540px) {
    .initiativepage .container .bottom {
        flex-direction: column;
        align-items: center;
    }
}