.contentContainer{
    text-align: center;
    width: 83%;
    height: 100%;
    margin-top: 7%;
    margin-left:5%;
    margin-right:5%;
    padding: 25px;
    border-radius: 25px;
    border-color: black; 
    border-style: solid;
    border-width: 10px;
    background-color: rgb(239, 239, 225);
  }
   .accordionContainer{
    height: 200px;
    width: 100%;
    overflow: auto;
    background: white;
    border-radius: 25px;
    overflow: auto; 
  }
   .storyContainer{
    height: 200px;
    width: 100%;
    border-radius: 25px;
    background: white;
    overflow: auto;
  }
  .storyText{
    overflow: auto;
    text-align: left;
    margin-left: 1cm;
    margin-right: 1cm;
  }
   .tipsContainer {
    height: 200px;
    width: 100%;
    border-radius: 25px;
    background: white;
    overflow: auto;
  }
  .tipsText{
    text-align: left;
    margin-left: 1cm;
    margin-right: 1cm;
  }
 