.contentContainer{
    text-align: center;
    width: 1180px;
    height: 100%;
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    border-width: 10px;

  }
  .contentContainer .accordionContainer{
    display: flex;
    height: 30vh;
    width: 100%;
    background: white;
    margin-bottom: 1%;
  }

  .contentContainer .title {
    margin: auto;

  }

  .contentContainer .accordionContainer .text {
    margin: auto;
    width: 800px;
    height:20vh;
    overflow: auto;

  }

  .contentContainer .text {
    margin: auto;
    width: 800px;
    height: fit-content;


  }
  .contentContainer .storyContainer{
    margin-bottom: 1%;
    width: 100%;
    background: white;
    overflow: auto;
    height: fit-content;
    display: flex;
  }
  .contentContainer .storyText{
    height: fit-content;
    text-align: left;
    margin-left: 1cm;
    margin-right: 1cm;
  }
  .contentContainer .tipsContainer {
    display: flex;
    height: fit-content;
    width: 100%;
    background: white;

  }
  .contentContainer .tipsText{
    text-align: left;
    margin-left: 1cm;
    margin-right: 1cm;
  }
 