.initiativepageTitle{
    margin: auto;
    margin-left: 2.5%;
    margin-top: 10%;
    margin-bottom: 2%;
    text-align: left;
}
.initiativepageTitle .text {
    margin-top: 1%;
    text-align: center;
       
}

.initiativeSection{
    height: fit-content;
    background-color: whitesmoke;
    align-self: center;
    padding: 30px;
    margin-left: 2.5%;
    margin-right: 2.5%;

   
}
.initiativepage {
    width: 100%;
}


.hexbox {
    display: flex;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}



@media screen and (max-width:540px) {
    .initiativepage .container .bottom {
        flex-direction: column;
        align-items: center;
    }
}