.aboutpageTitle{
    /* margin: auto; */
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}
.aboutpageTitle .text {
    margin-top: 1%;
    text-align: center;
       
}

.aboutSection{
    height: fit-content;
    background-color: whitesmoke;
    align-self: center;
    padding: 30px;
    margin-left: 2%;
    margin-right: 2%;
   
}
.aboutpage {
    width: 100%;
    /* height: 100vh; */
    background-color: #fbeec133;
    padding-top:2%;
}


@media screen and (max-width:540px) {
    .initiativepage .container .bottom {
        flex-direction: column;
        align-items: center;
    }
}