@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.carouselSection{
  background-color: #daad8645;
  padding-top:2%;
  padding-bottom:5%
}

.carouselTitle{
  margin: auto;
  margin-top: 10%;
  width:80%;
  text-align: center;
  justify-content: center;
  align-items: center;
}


.Carousel {
  /* width: 100%;  */
  justify-content: center;
  align-items: center;
  margin-left:2.5%;
  margin-right: 2.5%;
  margin-top: 5%;
  margin-bottom: 5%;
  height:40vh;
  vertical-align: center;
  background: url(../../assets/pictures/fern.png);
  background-size: cover;
}


.slide img {
  display: flex;
  flex-shrink: initial;
  max-width: 50%;
  margin: 0 auto;
}

.slide {

  transform: scale(0.5);
  transition: transform 300ms;
  opacity: 1;

}

.activeSlide {
  transform: scale(1);
  opacity: 1;
}

.arrow {
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
    color: rgb(134,179,209);

}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.CarouselSlideItem {
  border-radius: 10px;
  padding-top:20%;
  justify-content: center;
  align-items: center;
  background-color: #8d8741;
  text-align: center;
  color: black;
  height:40vh;
}

.CarouselSlideItem:hover{
  background-color: rgb(134,179,209);
}

.title {
  font-size: 50px;
}
