

 /* @import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap'); */
 /* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap'); */
 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');


:root {
  --primary-color: #171a20cc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  /* font-family: 'Oxygen', sans-serif !important; */
  font-family: 'Josefin Sans', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

ul {
  list-style-type: none ;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px !important;
}
h6 {
  font-size: 80px !important;
}

li {
  font-size: 19px;
}
b {
  font-size: 35px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 30px;
}

.btn {
  margin: .5rem;
  font-family: 'Oxygen', sans-serif !important;
  padding: .7rem 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 25px;
  border: none;
  background: rgba(255, 255, 255, .1);
  color: #f6f6f6;
  cursor: pointer;
}

.btn-dark {
  background-color: rgb(71,72,83,1) !important;
  font-family: 'Oxygen', sans-serif !important;

}

.btn:hover {

  background: rgb(134,179,209) !important;

}
.btn-dark:hover {
  /* background: rgba(0, 0, 0, .8); */

  background: rgb(101, 157, 189) !important;

}

/*doesnt work (works) */
.tb1 {
  margin: .5rem;
  padding: .7rem 1.5rem;
  font-size: .8rem;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.1);
  color: #000000;
  cursor: pointer;
}

.sectionheader {
  width: 100%;
  color: rgb(0, 0, 0);
  margin-left: 10rem;
  margin-top: 5rem;
}


/*extras*/
.placeholder1{
  background:rgba(0, 0, 0, .8);
}



